<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server side rendering</title>

</head>
<body>
    <div>
        <h1>hello Server EJS</h1>
       <h3>
      <% urls.forEach(url => { %>
       <l1> <%= url.shortId %></l1>
      <% }) %>
       </h3>
    </div>
</body>
</html>
